.topBarContainer{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    background-color: black;
    height:40px;
    width:100%;
    position:absolute;
    left:0px;
    top:0px;
}
.topBarContainer>button{
    color:white;
    margin-left: 10px;
    border: none;
    background-color: black;
}
.topBarContainer>button:hover{
    cursor:pointer;
}